.search-box {
  padding: 5px;

  &__term-input {
    width: 100%;
    font-size: 1.2em;
    border: 0;
    text-align: left;
    padding: 4px;
  }
}

@media(min-width: $breakpoint-xs + 1) {
  .search-box {
    padding: 5px 10px;
    text-align: center;

    &__term-input {
      width: 75%;
      margin: 0 auto;
    }
  }
}

